# Documentation
Problemset1/Exercise2/doc/

# Backupfiles
*.*~
Problemset*/Exercise*/*.*~

#eclipse-files
.metadata/
RemoteSystemsTempFiles/

#Binaries
Problemset*/Exercise*/bin/
Problemset*/Exercise*/Debug/
Problemset*/Exercise*/obj/
Problemset*/Exercise*/*.out
Problemset*/obj
Problemset*/bin

#Data for Set1/Exercise1
Problemset*/Exercise*/*.dat
Problemset1/Exercise1/plots/
Problemset1/Exercise1/opt*
Problemset1/Exercise1/non*

#Preliminary Problemset2
#Problemset2/
Problemset2/*.c
Problemset2/*.out
Problemset2/*.mod
Problemset2/saha_handout
Problemset2/*.o
Problemset2/*.dat
