# Documentation
Problemset1/Exercise2/doc/

# Backupfiles
*.*~
Problemset*/Exercise*/*.*~

#eclipse-files
.metadata/
RemoteSystemsTempFiles/

#Binaries
Problemset*/Exercise*/bin/
Problemset*/Exercise*/Debug/
Problemset*/Exercise*/obj/
Problemset*/Exercise*/*.out

#Data for Set1/Exercise1
Problemset1/Exercise1/*.dat
Problemset1/Exercise1/plots/
Problemset1/Exercise1/opt*
Problemset1/Exercise1/non*
